/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * 
 * Using this you can size and move your picture precisely in all directions
 * You can even use a direct internet url to an image
 */


.MMM-EasyPix .photo {
  margin-right: -1px;        /* Move your picture using these */
  margin-left: -1px;         /* Move your picture using these */
  margin-top: -1px;          /* Move your picture using these */
  margin-bottom: -1px;       /* Move your picture using these */
  float: center;               /* Left, center or right */
}
